{% extends "Padre/Dad.html"  %}
<!--Cargar carpeta static-->
{% load static %}
{% block title %} Contactos @ {{request.user.username}}  {% endblock %}
{% block content %}
<br>
<br>
<div class="container mb-5">
  <div class="row text-center">
      <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static '/Img/Leo.jpeg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Leonel Roberto Terrazas Mejiay</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
              <br>
              <span class="small text-uppercase text-muted">leoterrazas@gmail.com</span>
              <br>
              <span class="small text-uppercase text-muted">614 379 6189</span>
          </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static '/Img/Alexander.jpeg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Pedro Alexander Aguilar Gonzalez</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
              <br>
              <span class="small text-uppercase text-muted">tem.alxaguilar@gmail.com</span>
              <br>
             
            </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static '/Img/Godoy.jpeg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">David Alejandro Godoy Salas</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
              <br>
              <span class="small text-uppercase text-muted">alejandrogodoy723@gmail.com</span>
              <br>
          
          </div>
      </div><!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static '/Img/Rene.jpeg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Yosmar Rene Rodriguez Gonzalez </h5><span class="small text-uppercase text-muted">CEO - Founder</span>
              <br>
              <span class="small text-uppercase text-muted">ryosmar53@gmail.com</span>
              <br>
             
          </div>
      </div><!-- End -->
  </div>
</div>


{% endblock %}
