{% extends "Padre/Dad.html"  %}
<!--Cargar carpeta static-->
{% load static %}
{% block title %} Editar Vitrina @ {{request.user.username}}  {% endblock %}
{% block content %}
{% if Error %}
<div class="alert alert-danger alert-dismissible fade show mt-5">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong>Upss! Al parecer no se edito tu Vitrina  </strong> Inténtelo de nuevo 
</div>
{% endif %}
{% if Confirma %}
<div class="alert alert-success alert-dismissible fade show mt-5">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong>Gracias ! </strong> Se edito tu Vitrina
</div>
{% endif %}
    <div id="login" class="Login_body mt-5" >
        <div class="container" >
            <div id="login-row" class="row justify-content-center align-items-center" >
                <div id="login-column" class="col-md-6" style=" background-color: #271338; border-radius: 20px; opacity: 0.9;">
                    <div id="login-box" class="col-md-12" >
                        {% for V in Showcvi %}
                        <form id="login-form"  class="form" action="{% url 'Edivi' V.id %}" method="POST" style="color: mistyrose; "  enctype="multipart/form-data">
                            {% csrf_token %}
                           
                        <h3 class="text-center text-info">{{V.Nombrevi}}</h3>
                            {% endfor %}
                        <div class="form-group">
                            <label for="Titulo"  class="text-info">Nombre:</label><br>
                            <input type="text" name="Nombre" id="Nombre" class="form-control" required="true">
                        </div>
                        <div class="form-group">
                            <label for="Seccion" class="text-info">Sección :</label><br>
                            <input type="text" name="Seccion" id="Seccion" class="form-control" required="true">
                        </div>
                        
                        <select name="Item1" id="Item1">
                            {%for Item in Ite %} 
                                <option value="{{Item.id}}">{{Item.Nombre}}</option>   
                            {% endfor %}
                        </select>
                        <label for="Item1" class="text-info">Ítem 1</label><br>
                        <select name="Item2" id="Item2">
                            {%for Item in Ite %} 
                                <option value="{{Item.id}}">{{Item.Nombre}}</option>   
                            {% endfor %}
                        </select>
                        <label for="Item2" class="text-info">Ítem 2</label><br>
                        <select name="Item3" id="Item3">
                            {%for Item in Ite %} 
                                <option value="{{Item.id}}">{{Item.Nombre}}</option>   
                            {% endfor %}
                        </select>
                        <label for="Item3" class="text-info">Ítem 3</label><br>
                        <select name="Item4" id="Item4">
                            {%for Item in Ite %} 
                                <option value="{{Item.id}}">{{Item.Nombre}}</option>   
                            {% endfor %}
                        </select>
                        <label for="Item4" class="text-info">Ítem 4</label><br>
                        <select name="Item5" id="Item5">
                            {%for Item in Ite %} 
                                <option value="{{Item.id}}">{{Item.Nombre}}</option>   
                            {% endfor %}
                        </select>
                        <label for="Item5" class="text-info">Ítem 5</label><br>
                        <select name="Item6" id="Item6">
                            {%for Item in Ite %} 
                                <option value="{{Item.id}}">{{Item.Nombre}}</option>   
                            {% endfor %}
                        </select>
                        <label for="Item6" class="text-info">Ítem 6</label><br>
                        <select name="Item7" id="Item7">
                            {%for Item in Ite %} 
                                <option value="{{Item.id}}">{{Item.Nombre}}</option>   
                            {% endfor %}
                        </select>
                        <label for="Item7" class="text-info">Ítem 7</label><br>
                        <select name="Item8" id="Item8">
                            {%for Item in Ite %} 
                                <option value="{{Item.id}}">{{Item.Nombre}}</option>   
                            {% endfor %}
                        </select>
                        <label for="Item8" class="text-info">Ítem 8</label><br>
                        <select name="Item9" id="Item9">
                            {%for Item in Ite %} 
                                <option value="{{Item.id}}">{{Item.Nombre}}</option>   
                            {% endfor %}
                        </select>
                        <label for="Item9" class="text-info">Ítem 9</label><br>
                        <div class="form-group">
                        <button class="btn btn-primary btn-blck mt-5" type="submit">crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

{% endblock %}