
{% extends "Padre/Dad.html"  %}
<!--Cargar carpeta static-->
{% load static %}
{% block title %} Showcase @ {{request.user.username}}  {% endblock %}
{% block content %}

{% if messages  %}
	{% for m in messages %}
		<div class="alert alert-info alert-dismissible fade show mt-5">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>{{m}}</strong> 
		</div>
	{% endfor %}

{% endif %}

<section>
	<div class="btn-group"></div>
		<div style="width: 75%; margin: auto; text-align: center;color: cornsilk;">
			{% if Show %}
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				Vitrinas
			</button>
			<div class="dropdown-menu">
				{%for S in Show %} 
				<a class="dropdown-item" href="{% url 'vifil' S.id %}">{{S.Nombrevi}}</a>
				{% endfor %}
			</div>	
			{% endif %}
			 <button type="button" class="btn btn-primary" onclick="location.href='/Crear_Item/'">Nuevo Ítem</button>
			<button type="button" class="btn btn-primary" onclick="location.href='/Crear_Vitrina/'">Nueva Vitrina</button>
	   </div>
	</div>	
	<br>
</section>

<div class="container mt-5" style="border-radius: 15px; border: aqua; background-color: #D8D5F4; text-align: justify;">
	<p class="text-primary">¿Como utilizar Servicio_Control?</p>
	<br>
	<div class="row">
		<div class="col-sm-3">
			<p class="text-info">Paso 1: pulsa el botón de nuevo ítem</p>
			<img  class="img-fluid" src="{% static '/Img/ps1.png' %}" alt="Image" style=" height: 100px;  width: 100px; ">
		</div>	
		<div class="col-sm-3">
			<p class="text-info">paso 2: Rellena los campos </p>
			<img  class="img-fluid" src="{% static '/Img/ps2.png' %}" alt="Image" style=" height: 200px;  width: 200px; ">
			<p class="text-dark">puedes Agregar los ítems que deses </p>
		</div>
		<div class="col-sm-3">	
			<p class="text-info">paso 3: Dirígete al botón de nueva vitrina</p>	
			<img  class="img-fluid" src="{% static '/Img/ps3.png' %}" alt="Image" style=" height: 100px;  width: 100px; ">
		</div>
		<div class="col-sm-3">
			<p class="text-info">paso 4: Rellena los campos</p>
			<img  class="img-fluid" src="{% static '/Img/ps4.png' %}" alt="Image" style=" height: 200px;  width: 200px; ">
		</div>
		<div class="col-sm-3">
			<p class="text-info">paso 5: Muévete a Servicio_control y observaras otro botón con la leyenda "vitrina"</p>
			<img  class="img-fluid" src="{% static '/Img/ps5.png' %}" alt="Image" style=" height: 100px;  width: 180px; ">
		</div>
		<div class="col-sm-3">
			<p class="text-info">paso 6: Encojé tu vitrina y da clic </p>
			<img  class="img-fluid" src="{% static '/Img/ps6.png' %}" alt="Image" style=" height: 200px;  width: 200px; ">
		</div>
	</div>
	<br>
	<p class="text-success">Listo, creaste tu vitrina </p>
</div>
<br>



{% endblock %}
