{% extends "Padre/Dad.html"  %}
<!--Cargar carpeta static-->
{% load static %}
{% block title %} Showcase @ {{request.user.username}}  {% endblock %}
{% block content %}
<section>
	<div class="btn-group"></div>
		<div style="width: 75%; margin: auto; text-align: center;color: cornsilk;">
			{% if Show %}
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				Vitrinas
			</button>
			<div class="dropdown-menu">
				{%for S in Show %} 
				<a class="dropdown-item" href="{% url 'vifil' S.id %}">{{S.Nombrevi}}</a>
                {% endfor %}
                <a class="dropdown-item" href="{% url 'Servicio_Control'  %}">Servicio control</a>
			</div>	 
			{% endif %}
			 <button type="button" class="btn btn-primary" onclick="location.href='/Crear_Item/'">Nuevo Ítem</button>
			<button type="button" class="btn btn-primary" onclick="location.href='/Crear_Vitrina/'">Nueva Vitrina</button>
	   </div>
	</div>	
	<br>
</section>
{% for m in Showcvi %}
<section class="hero mt-5" >
<div class="container" class="hero mt-5">
<div class="row">
	<div class="col-sm-6" style="background-color: rgb(22, 3, 56); text-align: center; opacity: 0.9; ">
		<h1 class="text-primary">{{m.Nombrevi}}</h1>
		<p class="text-info">{{m.Seccion}}</p>	
		{% if posi == '6' %}
			<button data-toggle="collapse" class="btn btn-success mt-5"  data-target="#slot1" >{{m.Slot1}}</button>
			<br>
			<img class="img-fluid mt-5" width="150" height="150" style="border-radius: 20px;"  src="{{m.Slot1.Imagen.url}}" alt="Image">
			<br>
			<button data-toggle="collapse" class="btn btn-success mt-5"  data-target="#slot2" >{{m.Slot2}}</button>
			<br>
			<img class="img-fluid mt-5" width="150" height="150" style="border-radius: 20px;"  src="{{m.Slot2.Imagen.url}}" alt="Image">
			<br>
			<button data-toggle="collapse" class="btn btn-success mt-5"  data-target="#slot3" >{{m.Slot3}}</button>
			<br>
			<img class="img-fluid mt-5"  width="150" height="150" style="border-radius: 20px;"  src="{{m.Slot3.Imagen.url}}" alt="Image">
		{% elif posi == '5' %}
			<button data-toggle="collapse" class="btn btn-success mt-5"  data-target="#slot4" >{{m.Slot4}}</button>
			<br>
			<img class="img-fluid mt-5" width="150" height="150" style="border-radius: 20px;"  src="{{m.Slot4.Imagen.url}}" alt="Image">
			<br>
			<button data-toggle="collapse" class="btn btn-success mt-5"  data-target="#slot5" >{{m.Slot5}}</button>
			<br>
			<img class="img-fluid mt-5" width="150" height="150" style="border-radius: 20px;"  src="{{m.Slot5.Imagen.url}}" alt="Image">
			<br>
			<button data-toggle="collapse" class="btn btn-success mt-5"  data-target="#slot6" >{{m.Slot6}}</button>
			<br>
			<img class="img-fluid mt-5" width="150" height="150" style="border-radius: 20px;"  src="{{m.Slot6.Imagen.url}}" alt="Image">
		{% elif posi == '4' %}
			<button data-toggle="collapse" class="btn btn-success mt-5" data-target="#slot7" >{{m.Slot7}}</button>
			<br>
			<img class="img-fluid mt-5" width="150" height="150" style="border-radius: 20px;"   src="{{m.Slot7.Imagen.url}}" alt="Image">
			<br>
			<button data-toggle="collapse" class="btn btn-success mt-5"  data-target="#slot8" >{{m.Slot8}}</button>
			<br>
			<img class="img-fluid mt-5" width="150" height="150" style="border-radius: 20px;"  src="{{m.Slot8.Imagen.url}}" alt="Image">
			<br>
			<button data-toggle="collapse" class="btn btn-success mt-5"  data-target="#slot9" >{{m.Slot9}}</button>
			<br>
			<img class="img-fluid mt-5" width="150" height="150" style="border-radius: 20px;"  src="{{m.Slot9.Imagen.url}}" alt="Image">
		{% else %}
			<button data-toggle="collapse" class="btn btn-success mt-5" data-target="#slot7" >{{m.Slot7}}</button>
			<br>
			<img class="img-fluid mt-5" width="150" height="150" style="border-radius: 20px;"   src="{{m.Slot7.Imagen.url}}" alt="Image">
			<br>
			<button data-toggle="collapse" class="btn btn-success mt-5"  data-target="#slot8" >{{m.Slot8}}</button>
			<br>
			<img class="img-fluid mt-5" width="150" height="150" style="border-radius: 20px;"  src="{{m.Slot8.Imagen.url}}" alt="Image">
			<br>
			<button data-toggle="collapse" class="btn btn-success mt-5"  data-target="#slot9" >{{m.Slot9}}</button>
			<br>
			<img class="img-fluid mt-5" width="150" height="150" style="border-radius: 20px;"  src="{{m.Slot9.Imagen.url}}" alt="Image">
		{% endif %}
		</form>
	</div>
	<div class="col-sm-6" style="background-color:rgb(3, 16, 56); ">
		<div ><h1 class="text-info">{{m.Slot7}}</h1></div>
		<div style=" position: absolute; top: 5px; right: 10px;">
			<a  title="Editar" href="{% url 'Edivi' m.id%}">
				<img src="https://img.icons8.com/nolan/64/edit--v1.png" width="30" height="30"/>
			</a>
			<a title="Eliminar" href="{% url 'vitrieli' m.id%}">
				<img  src="https://img.icons8.com/nolan/64/delete-sign.png" width="30" height="30"/>
			</a>
		</div>
		<div id="slot1" class="collapse mt-5">
			<img class="img-fluid" width="250" height="200" style="border-radius: 20px;"  src="{{m.Slot1.Imagen.url}}" alt="Image">
			<p class="text-success">{{m.Slot1.Seccion}}</p>
			<p class="text-warning">{{m.Slot1.Contenido}}</p>
			<p class="text-danger">${{m.Slot1.Precio}}</p>
		</div>
		<div id="slot2" class="collapse mt-5">
			<img class="img-fluid" width="250" height="200" style="border-radius: 20px;"  src="{{m.Slot2.Imagen.url}}" alt="Image">
			<p class="text-success">{{m.Slot2.Seccion}}</p>
			<p  class="text-warning">{{m.Slot2.Contenido}}</p>
			<p class="text-danger">${{m.Slot2.Precio}}</p>
		</div>
		<div id="slot3" class="collapse mt-5">
			<img class="img-fluid" width="250" height="200" style="border-radius: 20px;"  src="{{m.Slot3.Imagen.url}}" alt="Image">
			<p class="text-success">{{m.Slot3.Seccion}}</p>
			<p  class="text-warning">{{m.Slot3.Contenido}}</p>
			<p class="text-danger">${{m.Slot3.Precio}}</p>
		</div>
		<div id="slot4" class="collapse mt-5">
			<img class="img-fluid" width="250" height="200" style="border-radius: 20px;"  src="{{m.Slot4.Imagen.url}}" alt="Image">
			<p class="text-success">{{m.Slot4.Seccion}}</p>
			<p  class="text-warning">{{m.Slot4.Contenido}}</p>
			<p class="text-danger">${{m.Slot4.Precio}}</p>
		</div>
		<div id="slot5" class="collapse mt-5">
			<img class="img-fluid" width="250" height="200" style="border-radius: 20px;"  src="{{m.Slot5.Imagen.url}}" alt="Image">
			<p class="text-success">{{m.Slot5.Seccion}}</p>
			<p  class="text-warning">{{m.Slot5.Contenido}}</p>
			<p class="text-danger">${{m.Slot5.Precio}}</p>
		</div>
		<div id="slot6" class="collapse mt-5">
			<img class="img-fluid" width="250" height="200" style="border-radius: 20px;"  src="{{m.Slot6.Imagen.url}}" alt="Image">
			<p class="text-success">{{m.Slot6.Seccion}}</p>
			<p  class="text-warning">{{m.Slot6.Contenido}}</p>
			<p class="text-danger">${{m.Slot6.Precio}}</p>
		</div>
		<div id="slot7" class="collapse mt-5">
			<img class="img-fluid" width="250" height="200" style="border-radius: 20px;"  src="{{m.Slot7.Imagen.url}}" alt="Image">
			<p class="text-success">{{m.Slot7.Seccion}}</p>
			<p  class="text-warning">{{m.Slot7.Contenido}}</p>
			<p class="text-danger">${{m.Slot7.Precio}}</p>
		</div>
		<div id="slot8" class="collapse mt-5">
			<img class="img-fluid" width="250" height="200" style="border-radius: 20px;"  src="{{m.Slot8.Imagen.url}}" alt="Image">
			<p class="text-success">{{m.Slot8.Seccion}}</p>
			<p  class="text-warning">{{m.Slot8.Contenido}}</p>
			<p class="text-danger">${{m.Slot8.Precio}}</p>
		</div>
		<div id="slot9" class="collapse mt-5">
			<img class="img-fluid" width="250" height="200" style="border-radius: 20px;"  src="{{m.Slot9.Imagen.url}}" alt="Image">
			<p class="text-success">{{m.Slot9.Seccion}}</p>
			<p  class="text-warning">{{m.Slot9.Contenido}}</p>
			<p class="text-danger">${{m.Slot9.Precio}}</p>
		</div>
			<form action="{% url 'vifil' m.id %}" method="POST" style="color: antiquewhite; text-align: center;">
			{% csrf_token %}
			 {% if serial_error %}
				 <div class="alert alert-danger alert-dismissible fade show mt-5">
				 <button type="button" class="close" data-dismiss="alert">&times;</button>
				 <strong>Upss! Al parecer no se estableció la conexión</strong> ¿Conectaste tu vitrina?
				</div>
			 {% endif %}					
			 <button type="submit" class="btn btn-danger mt-5" id="valor1" name="Led" value="1">Apagar</button>
			 <button type="submit" class="btn btn-success mt-5" id="valor2" name="Led" value="2">Encender</button>
			 <button type="submit" class="btn btn-success mt-5" id="valor3" name="Led" value="3">Intermitentes </button>
			 <br>
			 <button type="submit" class="btn btn-info mt-5" id="valor4" name="Led" value="6">Slot 1,2,3</button>
			 <button type="submit" class="btn btn-info mt-5" id="valor5" name="Led" value="5">Slot 4,5,6</button>
			 <button type="submit" class="btn btn-info mt-5" id="valor6" name="Led" value="4">Slot 7,8,9</button>
			</form>
			<br>
	</div>
</div>
</div>
</section>
<br>
{% endfor %}
<br>
{% endblock %}

