<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'Ventas/Boot/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'Ventas/Gestion/gestion.css' %}" rel="stylesheet">
    <!--Titulo-->

    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <div class="container">
    <h1 style="background-color: blueviolet; color: cornsilk; text-align: center;">Magic showcase</h1>
    </div>
    {% include "Menu/Menu.html" %}
    <h5 style="text-align: right;">Vistas hermosas</h5>
    
    {% block content %} 

    {% endblock %}

    <!-- Bootstrap -->
    <script src="{% static 'Ventas/Boot/js/jquery.min.js' %}"></script>
    <script src="{% static 'Ventas/Boot/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>