<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        {% load static %}
        <!-- Bootstrap -->
        <link href="{% static '/Boot/css/bootstrap.min.css' %}" rel="stylesheet">
    
         <!-- Fonts -->
        
         <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
         <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
         
    
        <!-- Styles -->
        <link href="{% static '/Gestion/gestion.css' %}" rel="stylesheet">
        <!--Titulo-->
    </head>

    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    {% block content %} 

    {% endblock %}
    <!-- Bootstrap -->
    <script src="{% static '/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/Boot/js/bootstrap.bundle.min.js' %}"></script>
 </body>
 </html>