<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        {% load static %}
        <!-- Bootstrap -->
        <link href="{% static '/Boot/css/bootstrap.min.css' %}" rel="stylesheet">
    
         <!-- Fonts -->
        
         <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
         <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
         
    
        <!-- Styles -->
        <link href="{% static '/Gestion/gestion.css' %}" rel="stylesheet">
        <!--Titulo-->
    </head>

    <title>
       Login
    </title>
</head>
<body>
   
<div id="login" class="Login_body">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="POST">
                        {% csrf_token %}
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Nombre de usuario:</label><br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="text" name="password" id="password" class="form-control">
                        </div>
                        <button class="btn btn-primary btn-blck" type="submit">Login</button>
                        <div id="register-link" class="text-right">
                            <a href="#" class="text-info">Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Bootstrap -->
    <script src="{% static '/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/Boot/js/bootstrap.bundle.min.js' %}"></script>
 </body>
 </html>