{% extends "Centro/dad.html"  %}
{% load static %}
{% block title %} @{{ request.user.username }} {% endblock %}   
{% block content %}
<div class="container mt-5 " style="color: antiquewhite;">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box" style="background-color: #271338; border-radius: 20px; opacity: 0.9;">
            <form action="{% url 'Perfil' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="media">
                    {% if perfil.Photo %}
                        <img class="img-fluid" src="{{ perfil.Photo.url }}" alt="Image" style="height: 100px;  width: 100px;  background-repeat: no-repeat; background-position: 50%; border-radius: 50%; background-size: 100% auto; ">
                    {% else %}
                    <img class="img-fluid" src="{% static '/Img/user_default.png' %}" alt="Image" style="height: 100px;  width: 100px;  background-repeat: no-repeat; background-position: 50%; border-radius: 50%; background-size: 100% auto; ">
                    {% endif %}

                    <div class="media-body">
                        <h5 class="ml-4">@{{ user.username }} | {{ user.get_full_name }}</h5>
                        <p class="ml-4"><input type="file" name="Photo" ></p>
                    </div>
                </div>
                {% for error in form.Photo.errors %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <b>Picture: </b> {{error}}
                    </div>
                {% endfor %}
                <br><br>
                <div class="form-group">
                    <select name="country" id="country">
                            <option value="México">mex</option>
                            <option value="United States">usa</option>
                            <option value="Canada">can</option>
                            <option value="Brazil">bra</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Biography</label>
                    <textarea
                        class="form-control {% if form.bio.errors %}is-invalid{% endif %}"
                        name="bio"
                    >{% if form.bio.errors %}{{ form.bio.value }}{% else %}{{ profile.bio }}{% endif %}</textarea>
                    <div class="invalid-feedback">
                        {% for error in form.bio.errors %}
                    
                         <div class="alert alert-danger alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <b> Bio: </b> {{error}}
                         </div>
                    
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>
                <div class="d-flex flex-column">
                    <a class="m-auto mt-2" href="/Login/">Want to change password click here. </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}