{% extends "Centro/dad.html"  %}
{% load static %}
{% block title %} Login {% endblock %}   
{% block content %}
    {% if error %}
     <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Lo siento!</strong> {{error}}
      </div>
    {%  endif  %}
<div id="login" class="Login_body">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="POST">
                        {% csrf_token %}
                        <h3 class="text-center text-info">Registro</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Alias:</label><br>
                            <input type="text" name="username" id="username" class="form-control" required="true">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control" required="true">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Confirmar password:</label><br>
                            <input type="password" name="Passwd_confir" id="Passwd_confir" class="form-control" required="true">
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-info">Nombre:</label><br>
                            <input type="text" name="Nombre" id="Nombre" class="form-control" required="true">
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-info">Apellido:</label><br>
                            <input type="text" name="Apellido" id="Apellido" class="form-control" required="true">
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="email" name="Email" id="Email" class="form-control" required="true">
                        </div>
                        <button class="btn btn-primary btn-blck" type="submit">crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}