
 <!-- BarraMenu -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}">Magic Showcase</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Home</a>
          </li>
          <li class="nav-item {% if request.path == '/Tienda/' %} active {% endif %}  px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Tienda'  %}">Tienda</a>
          </li>
          <li class="nav-item {% if request.path == '/Servicio_Control/' %} active {% endif %}  px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Servicio_Control' %}">Servicio_Control</a>
          </li>
          <li class="nav-item {% if request.path == '/Tutorial/' %} active {% endif %}  px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Tutorial'  %}">Tutoriales</a>
          </li>
          <li class="nav-item {% if request.path|slice:':6' == '/Blog/' %} active {% endif %}  px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Blog' %}">Blog</a>
          </li>
          <li class="nav-item {% if request.path == '/Preguntas/' %} active {% endif %}  px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Preguntas' %}">Preguntas</a>
          </li>
          <li class="nav-item {% if request.path == '/Contactos/' %} active {% endif %}  px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Contactos'  %}">Contacto</a>
          </li> 
          {% if request.user.users %}
          <a class="navbar-item"  href="/Perfil/">
            <img src="{{request.user.users.Photo.url}}" alt="Logo" width="50" height="50"  style="  border-radius: 50px;"  >
          </a>
          <a class="navbar-item"  href="/Logout/">
            <img src="https://img.icons8.com/nolan/64/logout-rounded-left.png" width="50" height="50"/>
          </a>
          {% else %}
          <a class="navbar-item"  href="/Login/">
            <img src="https://img.icons8.com/nolan/64/login-rounded-right.png" width="50" height="50"/>
          </a>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
