<!DOCTYPE html>
<html lang="en">
<style>
    #Menu{
        margin: 0%;
        padding: 0%;
        list-style: none;
        text-transform: uppercase;
        text-align: center;
    }
    #Menu li{
        display: inline;
        margin: 0 20px;
    }
</style>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul id="Menu">
        <li>Home</li>
        <li>Tienda</li>
        <li>Servicio-Control</li>
        <li>Tutoriales</li>
        <li>Blog</li>
        <li>Preguntas</li>
        <li>Contactos</li>
    </ul>
</body>
</html>