{% extends "Centro/dad.html"  %}
{% load static %}
{% block title %} Password change {% endblock %}   
<h4 class="ml-5 align-self-center">Update success.</h4>
{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <p class="m-auto">Your password has been Updated.</p>
            <div class="d-flex flex-column">
                <p class="m-auto">Click <a href="{% url 'Home' %}">here</a> to continue</p>
            </div>
        </div>
    </div>
{% endblock %}