{% extends "Centro/dad.html"  %}
{% load static %}
{% block title %}¿Se olvidó de su contraseña?{% endblock %}   
{% block content %}
<div class="container mt-5 " style="color: antiquewhite;">
    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box" style="background-color: #271338; border-radius: 20px; opacity: 0.9;">
            <h4 class="ml-5 align-self-center">¿Se olvidó  de su contraseña?</h4>
			<div class="container">
				<div class="d-flex flex-column">
		  			<p class="m-auto p-2">
						Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó.
						Deberías recibirlos en breve.
		  			</p>
		  			<p class="m-auto p-2">
						Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró,
						y revisa tu carpeta de spam.
		  			</p>
		  			<p class="m-auto p-2"><a href="{% url 'Home' %}">Regresar a la página principal</a></p>
				</div>
			</div>
        </div>
    </div>
</div>
{% endblock %}