{% extends "Centro/dad.html"  %}
{% load static %}
{% block title %}Restaurar contraseña{% endblock %}   
{% block content %}
    <div class="container mt-5 " style="color: antiquewhite;">
        <div class="row justify-content-md-center">
            <div class="col-6 p-4" id="profile-box" style="background-color: #271338; border-radius: 20px; opacity: 0.9;">
                <h3 class="align-self-center">Restaurar contraseña</h3>

                <form method="POST" class="form-signin">
                    {% csrf_token %}
                    <div class="form-group">
                        <input name="new_password1" class="form-control" placeholder="Nueva contraseña" type="password" id="id_new_password1" required="true">
                    </div>
                    <div class="form-group">
                    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
                    </div>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
            
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Cambia la contraseña</button>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}