{% extends "Padre/Dad.html"  %}
<!--Cargar carpeta static-->
{% load static %}
{% block title %} Tienda {% endblock %}
{% block content %}
<!--Producto class model,articulo variable-->
	{%for Producto in articulo %}
	 <section class="page-section clearfix">
		<div class="container">
		  <div class="intro">
			<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{Producto.Imagen.url}}" alt="" style="width:50%;">
			<div class="intro-text left-0 text-center bg-faded p-5 rounded">
			  <h2 class="section-heading mb-4" >
				<span class="section-heading-lower" style="color: aqua;">{{Producto.Nombre}}</span>
				<span class="section-heading-upper">{{Producto.Seccion}}</span>
				<span class="section-heading-upper">{{Producto.Contenido}}</span>
				<span class="section-heading-lower">$ {{Producto.Precio}}	</span>
			  </h2>
			</div>
		  </div>
		</div>
	  </section>

	{% endfor %}
{% endblock %}