{% extends "Padre/Dad.html"  %}
<!--Cargar carpeta static-->
{% load static %}

{% block title %} Tienda @ {{request.user.username}}  {% endblock %}
{% block content %}
<!--Producto class model,articulo variable-->
<section class="sections random-product mt-5">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
				{%for Producto in articulo %}

                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="{{Producto.Imagen.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
								<a  class="text-danger">{{Producto.Nombre}}</a>
								<br>
                                <a class="text-dark">{{Producto.Contenido}}</a>
							</h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">Comparar</div>
                            <div class="float-left">
                                <a  class="text-danger">${{Producto.Precio}}</a>
                                <br>
                                <small class="text-muted">{{Producto.Seccion}}</small>
                            </div>
                        </div>
                    </div>
				</div><!--.col-->
				{% endfor %}
            </div><!--.row-->
        </div><!--.container-->
    </div><!--.container-fluid-->
</section>



{% endblock %}