{% extends "Padre/Dad.html"  %}
<!--Cargar carpeta static-->
{% load static %}
{% block title %} Tienda {% endblock %}
{% block content %}
<!--Producto class model,articulo variable-->
	{%for Producto in articulo %}

 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 <section class="hero">
  <div class="container">
   <div class="row">
	<div class="col-lg-6 offset-lg-3">
	 <div class="cardbox shadow-lg bg-white">
	  <div class="cardbox-heading">
	   <div class="media m-0">
		<div class="media-body">
		 <p class=" m-0">{{Producto.Nombre}}</p>
		 <small><span><i class="section-heading-lower icon ion-md-pin"></i>{{Producto.Seccion}}</span></small>
		 <small><span><i class="icon ion-md-time"></i>{{Producto.Precio}}</span></small>
		</div>
	   </div>
	  </div>
	  <div class="cardbox-item " >
	   <img class="img-fluid" src="{{Producto.Imagen.url}}" alt="Image">
	  </div>
	  <div class="cardbox-base " >
		<p>{{Producto.Contenido}}</p>
	  </div>
	  <div class="cardbox-comments">
	   <div class="search">
		<input placeholder="Write a comment" type="text">
		<button><i class="fa fa-camera"></i></button>
	   </div>
	  </div>			  
			 
	 </div>


   </div>
  </div>
 </section>
	
	{% endfor %}
{% endblock %}